.AccountCreation {
  width: 100%;
  height: 100vh;
  display: flex;
}

#content {
  text-align: center;
  font-family: "Poppins", sans-serif;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  top: 10%;
  align-items: center;
  color: #fff;
}

#next {
  background-color: blue;
  color: white;
  font-style: italic;
}

#title {
  color: #3f51b5;
  margin-bottom: 15px;
  font-weight: bold;
}
