@font-face {
  font-family: CaviarDreams;
  src: url(../Assets/fonts/CaviarDreams.ttf);
}

.Home {
  width: 100%;
  height: 100vh;
  display: flex;
}

.Home video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.Home .content {
  text-align: center;
  font-family: "Poppins", sans-serif;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.Home .content h1 {
  font-size: 120px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 0;
  font-family: Helvetica;
  margin-bottom: 50px;
}

.Home .content h2 {
  color: #fff;
  font-weight: 600;
  margin-bottom: 0;
  font-family: CaviarDreams;
}

.Home .content h1:hover {
  letter-spacing: 15px;
  transition: letter-spacing 0.15s ease-out;
}

.Home .content h1:not(:hover) {
  letter-spacing: 3px;
  transition: letter-spacing 0.15s ease-in;
}

.Home .content a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-size: 24px;
  border: 2px solid #fff;
  padding: 14px 70px;
  border-radius: 50px;
  margin-top: 40px;
  font-family: CaviarDreams;
}

/*Modify black overlay with rgba value*/
.Home .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}
